/* media query for small devices */
@media screen and (max-width: 576px) {
    .menu{
        display: none;
    }
    
    .hamburger-menu{
        display: block;
    }

    nav{
        justify-content: space-around;
    }
}