/* media query for small devices */
@media screen and (max-width: 576px) {
    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    nav {
        justify-content: space-between;
        width: 80%;
    }

    .banner {
        flex-direction: column;
        align-items: center;
    }

    .banner-text {
        width: 80%;
    }

    .banner-photo {
        width: 80%;
    }

    .banner-text h1 {
        font-size: 3rem;
        font-weight: 700;
    }

    .btn-2 {
        margin-left: 5px;
        margin-top: 10px;
    }

    .habits-content h2,
    p {
        width: 80%;
        margin: 0 auto;
    }

    .habits-card-container {
        flex-direction: column;
        gap: 15px;
    }

    .running-content {
        flex-direction: column;
        gap: 20px;
        width: 90%;
        margin: 0 auto;
    }

    .running-text{
        width: 100%;
    }

    .running-text p{
        margin-right: 70px;
    }

    .running-photo{
        width: 100%;
    }

    .bmi-measurement {
        flex-direction: column;
        gap: 60px;
    }

    .bmi-form-container .form-field {
        width: 100%;
    }

    .trainer-container {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
    }

    .package-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-container {
        flex-direction: column;
        gap: 30px;
    }


}