/* media query for small devices */
@media screen and (max-width: 576px) {
    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    nav {
        justify-content: space-around;
    }

    .banner {
        flex-direction: column;
        align-items: center;
    }

    .banner-text {
        width: 90%;
    }

    .banner-photo {
        width: 85%;
    }

    .banner-text h1 {
        font-size: 3rem;
        font-weight: 700;
    }

    .btn-2 {
        margin-left: 5px;
    }

    .habits-card-container {
        flex-direction: column;
        gap: 15px;
    }

    .running-content {
        flex-direction: column;
    }

    .bmi-measurement {
        flex-direction: column;
        gap: 60px;
    }

    .bmi-form-container .form-field {
        width: 100%;
    }

    .trainer-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .package-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


}