/* google font link  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.common-title{
    color: rgb(255, 255, 255);
    font-size: 2.88rem;
    font-weight: 800;
}

.common-description{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.85rem;
}

/* header section start-------------------------------------------------------------------------- */
header {
    background: linear-gradient(180deg, rgb(17, 17, 17) 100%,rgba(119, 119, 119, 0) 100%);
    margin-bottom: 1px;
    padding-top: 1.5rem;
}

/* nav related css */
nav {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    /* border: 1px solid green; */
}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 2.16rem;
    font-weight: 600;
    /* border: 1px solid green; */
}

.menu {
    display: flex;
    gap: 0.93rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.34rem;
    padding: 0.25rem 0.50rem;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
}

.red-menu {
    border-radius: 2.76rem;
    background: rgb(230, 83, 60);
    padding: 0.25rem 0.50rem;
}

.hamburger-menu {
    display: none;
    color: rgb(255, 255, 255);
}

/* banner related css */
.banner {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner-text {
    width: 50%;
}

.banner-text h1 {
    font-size: 4.68rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 1.68rem;
}

.banner-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.96rem;
    margin-bottom: 1.68rem;
}

.italic-title {
    font-style: italic;
    font-weight: 200;
}

.btn-1 {
    border-radius: 2.52rem;
    background: rgb(230, 83, 60);
    padding: 0.62rem 1.25rem;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.08rem;
    font-weight: 600;
    margin-right: 15px;
}

.btn-2 {
    border-radius: 2.52rem;
    background: transparent;
    padding: 0.62rem 1.25rem;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    font-size: 1.08rem;
    font-weight: 600;
}

.banner-photo {
    width: 50%;
    position: relative;
}

.banner-photo img{
    width: 100%;
}


.video-badge-1 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    position: absolute;
    bottom: 60%;
    right: 10%;
}

.video-badge-2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 15%;
    left: -5%;
}

.circle{
    width: 2.38rem;
    height: 2.38rem;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}


.vb-big{
    font-size: 2.38rem;
    font-weight: 800;
    color: white;
}

.vb-small{
    font-size: 0.80rem;
    font-weight: 500;
    color: white;
}

/* main section start--------------------------------------------------------------- */
#habits{
    background: rgb(0, 0, 0);
    padding-top: 95px;
    padding-bottom: 95px;
    margin-bottom: 1px;
    
}
.habits-content{
    background: rgb(0, 0, 0);
    max-width: 1024px;
    margin: 0 auto;
}

.habits-content h2, p{
    text-align: center;
}

.habits-card-container {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-habit-card{
    /* border: 1px solid white; */
    width: 222px;
    height: 263px;
    padding: 10px;
    
}

.single-habit-card img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.single-habit-card h5, h6{
    text-align: center;
}

.single-habit-card h5{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.single-habit-card h6{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
    font-weight: 400;
}


